*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    background-color: #374151;   
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

}
header h1{
        font-size: 2.5rem;
        font-weight: 300;
        margin-bottom: 1rem;
        color: #6b7280;
        
}

#new-task-form{
    display: flex;
}

input, button{
    border: none;
    appearance: none;
    outline: none;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color: #1f2937;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: white;
}

#new-task-input::placeholder{
    color: rgb(225, 217, 217);
}
#new-task-submit{
    background-color: transparent;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.4s;
    color: rgb(18, 234, 69);
}
#new-task-submit:hover{
    opacity: 0.6;
}
#new-task-submit:active{
    opacity: 0.4;
}
main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task{
    padding: 1rem;
}
h2{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #73819d;
}
#tasks .task{
    display: flex;
    justify-content:space-between;
    background-color: #1f2937;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;

}
.task .content{
    flex: 1 1 0%;
}
.task .content .text{
    color: #fff;
    font-size: 1.2rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}
.task .content .text:not(:read-only){
    color: rgb(128, 59, 83);
}
.task .actions{
    display: flex;
    margin: 0 -0.5rem;
}
.task .actions button{
    cursor: pointer;
    margin: 0 .5rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    color: #ffffff;
}
.task .actions button:active{
    opacity: 0.6;
}
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions .edit{
    background-image:linear-gradient(to right,rgb(172, 62, 197),rgb(150, 3, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;


}
.task .actions .delete{
    background-color: crimson;
    border-radius: 0.8rem;
    margin-right: 1ch;
    padding: .5rem;
}